
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../css/style.css">
		<!-- Meta  -->
		<meta charset="utf-8">
		<title>Basic Calculator Web Application</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Basic Calculator">
		<meta name="author" content="Yuqi Yang">
		<!-- Bootstrap -->
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
	</head>

	<body>
		<div class="box">			
			<font><a href="/sample_data" style="color: #e2e8e4;"> Click To Enter... </a> </font>
		</div> 

		<!-- Bootstrap core JavaScript -->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>

	</body>
</html>



